$veryDarkMagenta: hsl(300, 43%, 22%);
$softPink: hsl(333, 80%, 67%);
$darkGreyishMagenta: hsl(303, 10%, 53%);
$lightGreyishMagenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);


body{
    text-align: center;
    font-family: 'League Spartan', sans-serif;
}



//intro paragraph
#intro{
    margin: 81px 13px 42px 10px;

    h1{
        color: $veryDarkMagenta;
        font-weight: 700;
        font-size: 37px;
        margin: 0px 17px auto 20px;
        line-height: 33px;
    }

    p{
        color: $darkGreyishMagenta;
        font-size: 13.5pt;
        font-weight: 500;
        line-height: 24px;
        margin: 24px 0px 0px 0px;
    }

}

//for each professional review
.pro-review{
    margin: auto 18px auto 18px;
    background-color: $lightGreyishMagenta;
    text-align: center;
    padding-top: 15px;
    border-radius: 7px;
    p{
        font-weight: 700;
        color: $veryDarkMagenta;
        padding-bottom: 15px;
    }
}

.stars{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto -8px auto auto;

    img{
        margin-right: 8px;
    }
}

//top gap for first customer review
.customer-review:first-of-type{
    margin-top: 47px;
}

//for each customer review
.customer-review{
    background-color: $veryDarkMagenta;
    margin: 16px 16px auto 17px;
    border-radius: 7px;
    text-align: left;
    padding: 31px;


    p{
        font-family: 'League Spartan', serif;
        margin: 26px 0px auto 0px;
        color: $white;
        font-size: 12.4pt;
        font-weight: 500;
        line-height: 22px;
    }

 


}

//image, name and "verified buyer" elements for each customer
.customer-review-header{
    display: flex;
    flex-direction: row;
    img{
        max-width: 42px;
        max-height: 42px;
        border-radius: 50%;
        margin: 9px 22px auto 0px;
    }

    div{
        position: relative;
        top: 12px;
    }

    h3{
        margin: 0px auto auto auto;
        font-weight: 700;
        color: $white;

    }
    h4{
        margin: 5px auto auto auto;
        font-weight: 400;
        color: $softPink;

    }
}

//bottom-of-screen margin
.customer-review:last-of-type{
    margin-bottom: 99px;
}


.attribution{
    font-size: 8pt;
    position: fixed;
    right: 0px;
    bottom: 1px;
}

// Desktop-only styling
@media only screen and (min-width: 1200px){
    body{
        padding: 110px 158px 118px 158px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        
    }

    #intro{
        /*grid-column-start: 0;
        grid-column-end: 1;
        grid-row-start: 0;
        grid-row-end: 1;*/


        text-align: left;
        margin: 0px;
        max-width: 450px; //temporary - will use grid

        h1{
            margin: 0px;
            font-size: 41pt;
            letter-spacing: -1.3px;
            line-height: 48px;
        }

        p{
            margin-top: 26px;
            line-height: 25px;
        }
    }

    
    #pro-review-section{
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: 47px 47px auto 47px 47px;
    }


    .pro-review{
        width: 445px;
        display: flex;
        flex-direction: row;
        margin: auto auto 20px auto;
        padding: 21px;
        p{
            margin: auto auto -15px 25px;

        }
    }

    .stars{
        margin: auto 0px auto 13px;
        justify-content: flex-start;
        img{
            height: 17px;
            width: 17px;
        }
    }

    #review-reviews{
        grid-row: 1;
        grid-column: 1 / span 3;
    }

    #review-reportguru{
        grid-row: 2;
        grid-column: 2 / span 3;
    }

    #review-besttech{
        grid-row: 3;
        grid-column: 3 / span 3;
    }






    #customer-review-section{
        grid-row: 2;
        grid-column: 1 / span 2;

        display: grid;
        grid-column-template: auto auto auto;
        grid-row-template: 15px 15px auto 15px 15px;
    }


    .customer-review{
        margin: 0px 30px auto auto;
    }


    #review-colton{
        grid-column: 1;
        grid-row: 1 / span 3;
    }

    #review-irene{
        grid-column: 2;
        grid-row: 2 / span 3;

    }

    #review-anne{
        grid-column: 3;
        grid-row: 3 / span 3;
    }

}